### Python Basics

- Variables

+ Keywords

* Whitespace & comments
                           
- Data Types
           
- User input & output

- Operators

### create a variable

In [53]:
a=23

### pep-8 documentation
- variable name should not start with digit
- Cannot add special symbols except _

In [3]:
a1=9

In [6]:
a+b=45

SyntaxError: cannot assign to operator (4195798940.py, line 1)

In [5]:
a_b=45

### Keywords

Reserved words.

All the keywords except True, False and None are in lowercase and they must be written as they are.

The list of all the keywords is given below.

False	await	else	import	pass

None	break	except	in	raise

True	class	finally	is	return

and	continue	for	lambda	try

as	def	from	nonlocal	while

assert	del	global	not	with

async	elif	if	or	yield

#### Whitespace & Comment

- Indentation: A code block (body of a function, loop, etc.) starts with indentation.
Generally, four whitespaces are used for indentation and are preferred over tabs.

- Comment: A Python comment is a line of text that appears in a program but is not executed by the program.

Single line comments: Python single-line comment starts with a hashtag symbol with no white spaces (#) and lasts till the end of the line. If the comment exceeds one line then put a hashtag on the next line and continue the comment.
Multi-line string as a comment: Python multi-line comment is a piece of text enclosed in a delimiter (“””) on each end of the comment. Again there should be no white space between delimiter (“””).

In [7]:
""" This is the first line comment
this is the second line comment"""
new=4567

### Data Types

- numeric (int,float)

- bool

- string

In [8]:
# int
var1=2345
type(var1)

int

In [9]:
#float
var2=567.90
type(var2)

float

In [11]:
#bool
var3=True
type(var3)

bool

In [14]:
#string
var4='welcome'
var5="weclome567  "

type(var5)

str

In [16]:
var5

'weclome567  '

### string operations

- strings are iterables 

+ strings are immutables

* cannot add numeric values to string object

In [ ]:
#python index starts from 0

In [17]:
var4

'welcome'

In [21]:
# iterables
#extract letter 'e' from var4
var4[1]

'e'

In [25]:
var4[2:]# [start:end]end is exclusive

'lcome'

In [23]:
var4[:]

'welcome'

In [31]:
var4[8]

IndexError: string index out of range

In [32]:
var4[:6:2] #[start:end:step]

'wlo'

In [19]:
for i in var4:
    print(i)

w
e
l
c
o
m
e

In [33]:
## immutable
var4[0]="S"

TypeError: 'str' object does not support item assignment

In [36]:
"S"+var4[1:]

'Selcome'

In [35]:
"S"+var4[1:3]+"6"+var4[3:]

'Sel6come'

### Operators 

Operators are used to perform operations on variables and values.OPERATORS: Are the special symbols. Eg- + , * , /, etc.

- Arithmetic operators
- Relational operators
- Boolean operators
- Assignment operators

#### Arithmetic operators

Operator	Description	Syntax
+	          Addition: adds two operands	x + y
–	          Subtraction: subtracts two operands	x – y
*	          Multiplication: multiplies two operands	x * y
/	          Division (float): divides the first operand by the second	x / y
//	          Division (floor): divides the first operand by the second	x // y
%	          Modulo: returns the remainder when the first operand is divided by the second	x % y
**	          Power: Returns first raised to power second	x ** y

In [52]:
a=56
b=67

In [38]:
a+b

123

In [43]:
a-b

-11

In [40]:
abs(a-b)

11

In [41]:
a*b

3752

In [44]:
a/b

0.835820895522388

In [48]:
#c=a/b
round(a/b,2)

0.84

In [45]:
a//b   # returns int value from the output

0

In [46]:
a**2   #power: 56 to the power 2

3136

#### Relational operators

Operator	                             Description	                                      Syntax
<	                               Less than: True if the left operand is less than the right	x < y
==	                               Equal to: True if both operands are equal	                x == y
!=	                               Not equal to – True if operands are not equal	            x != y
>=	                               Greater than or equal to: True if left operand is            x >= y
                                     greater than or equal to the right

In [49]:
a<b

True

In [50]:
a>b

False

In [51]:
a==b

False

In [56]:
a!=b

True

#### Boolean operators
The logical operators and, or and not are also referred to as boolean operators.

Operator	             Description	                                              Example

and	             Returns True if both statements are true	                     x < 5 and x < 10
or	             Returns True if one of the statements is true	                 x < 5 or x < 4
not	             Reverse the result, returns False if the result is true 	     not(x < 5 and x < 10)

In [57]:
x=178
y=835

In [60]:
x<300 and y<500

False

In [61]:
x<300 and y>500

True

In [62]:
x<300 or y<500

True

In [63]:
z=0  #false statement
not z

True

In [65]:
x=175
not x

False

#### Assignment operators

Python Assignment Operators
Operator	                     Example	        Same As
+=	                              x += 3	     x = x + 3
-=	                              x -= 3	     x = x - 3
*=	                              x *= 3	     x = x * 3
/=	                              x /= 3	     x = x / 3

In [74]:
t=1
d=2
#t=t+3
t+=3
t

4

In [71]:
t+d

6

In [72]:
d-=1
d

1